<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    
    {# Include Tailwind CSS by linking to your compiled CSS file #}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    
    {% block stylesheets %}
    {# Additional stylesheets specific to your application #}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    {% endblock %}
    
    {% block javascripts %}
    {# Include any JavaScript files here if needed #}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
